body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: 'Distancia bold';
  src: url('Assets/Fonts/Distancia-Bold.otf');
  src: local('Assets/Fonts/Distancia-Bold.eot'), local('Distancia-Bold'),
    url('Assets/Fonts/Distancia-Bold.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Distancia-Bold.woff2') format('woff2'),
    url('Assets/Fonts/Distancia-Bold.woff') format('woff'),
    url('Assets/Fonts/Distancia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */